table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

html, body {
  background-color: lightblue;
}
.container {
  display: block;
  margin: auto;
  text-align: center;
  border-style: solid;
  border-color: green;
  width: 50%;
  background-color: white;
}
