

<h4>Here is your request scheduled for <%= @user_request.date %></h4>
<h4><%= @user_request.address %></h4>
<h4><%= @user_request.phone %></h4>
<h4><%= @user_request.comments %></h4>

Edit link here
Delete link here

<a href="/show">Back to your account</a>
