<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Laundromat</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <body>

    <%= yield %>

  </body>
</html>
